<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<title>房脉动后台管理系统吧</title>
<meta name="keywords" content="#" />
<meta name="description" content="#" />
<meta charset="utf-8" />
<!-- 强制使用高版本浏览器渲染 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- 强制使用webkit -->
<meta name="renderer" content="webkit">
<!-- 禁止百度移动端转码 -->
<meta http-equiv="Cache-Control" content="no-transform " />
<!-- 清除缓存刷新 -->
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_479217_ortdgx668r9c0udi.css">
<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="assets/css/base.css">
<link rel="stylesheet" type="text/css" href="assets/css/header-nav.css"> <!-- 导航 -->
<link rel="stylesheet" type="text/css" href="assets/css/house-list.css"> <!-- 房源列表页 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="index">
    <header class="header">
        <el-menu
          :default-active="activeIndex"
          class="el-menu-demo"
          mode="horizontal"
          background-color="#222"
          text-color="#fff"
          active-text-color="#33ba9b">
          <div class="d-main">
              <a href="/" class="logo">房脉动管理系统</a>
              <el-menu-item index="1">上架管理</el-menu-item>
              <el-menu-item index="2"><a>文章管理</a></el-menu-item>
              <el-menu-item index="3"><a>用户管理</a></el-menu-item>
              <el-menu-item index="4"><a>预约管理</a></el-menu-item>
              <el-menu-item index="5"><a>系统设置</a></el-menu-item>
              <div class="user">
                  你好,
                  <span class="user-name">FJD</span>
                  <span class="logout ml20">退出</span>
              </div>
          </div>
        </el-menu>
    </header>
    <div class="side-nav">
        <div class="title b">上架管理</div>
        <div class="nav-main">
            <a class="nav-item active">二手房</a>
            <a class="nav-item">租房</a>
            <a class="nav-item">写字楼出租</a>
            <a class="nav-item">写字楼出售</a>
            <a class="nav-item">商铺出租</a>
        </div>
    </div>

    <div class="d-main" style="padding-top: 60px">
        <!-- 条件筛选 -->
        <el-form ref="form" :model="form" label-width="80px">
          <div class="d-content mt20">
            <div class="d-filter-main el-form-small">
                <div class="d-filter-item">
                    <div class="d-filter-key">位置</div>
                    <div class="d-filter-val">
                        <div class="d-filter-val-tab mb10">
                            <span class="active">区域<i class="iconfont icon-arrow-down"></i></span>
                            <span>地铁<i class="iconfont icon-arrow-down"></i></span>
                        </div>
                        <div class="d-filter-val-list">
                            <a data-id="110102" href="javascript:;">西城区</a>
                            <a data-id="110102" href="javascript:;">西城区</a>
                            <a data-id="110102" href="javascript:;">西城区</a><a data-id="110102" href="javascript:;">西城区</a>
                            <a data-id="110102" href="javascript:;">西城区</a>
                            <a data-id="110102" href="javascript:;">西城区</a>
                            <a data-id="110102" href="javascript:;">西城区</a><a data-id="110102" href="javascript:;">西城区</a>
                            <a data-id="110102" href="javascript:;">西城区</a>
                            <a data-id="110102" href="javascript:;">西城区</a>
                            <a data-id="110102" href="javascript:;">西城区</a><a data-id="110102" href="javascript:;">西城区</a>
                            <a data-id="110102" href="javascript:;">西城区</a>
                            <a data-id="110102" href="javascript:;">西城区</a>
                            <a data-id="110102" href="javascript:;">西城区</a><a data-id="110102" href="javascript:;">西城区</a>
                            <a data-id="110102" href="javascript:;">西城区</a>
                            <a data-id="110102" href="javascript:;">西城区</a>
                            <a data-id="110102" href="javascript:;">西城区</a>
                        </div>
                    </div>
                </div>
                <!-- 价格 -->
                <div class="d-filter-item">
                    <div class="d-filter-key">价格</div>
                    <div class="d-filter-val">
                        <div class="d-filter-val-tab mb15">
                            <span class="active">总价<i class="iconfont icon-arrow-down"></i></span>
                            <span>地铁<i class="iconfont icon-arrow-down"></i></span>
                        </div>
                        <div class="d-filter-val-list d-filter-custom">
                           <div class="d-filter-val-con">
                             <el-checkbox v-for="city in cities" :label="city" :key="city">{{city}}</el-checkbox>
                             <div class="d-filter-custom-box d-inline">
                               <input type="text"> - <input type="text"> 元
                               <button type="button" class="btn el-icon-search"></button>
                             </div>
                           </div>
                           <span class="filter-custom-btn">+自定义属性</span>
                        </div>
                    </div>
                </div>
                <!-- 面积 -->
                <div class="d-filter-item">
                    <div class="d-filter-key">面积</div>
                    <div class="d-filter-val">
                        <div class="d-filter-val-list">
                            <el-checkbox v-for="city in cities" :label="city" :key="city">{{city}}</el-checkbox>
                        </div>
                    </div>
                </div>
                <!-- 装修 -->
                <div class="d-filter-item">
                    <div class="d-filter-key">装修</div>
                    <div class="d-filter-val">
                        <select name="" id="" class="d-input-inline">
                          <option value="dsa">fsdfsd</option>
                          <option value="dsa">fsdfsd</option>
                          <option value="dsa">fsdfsd</option>
                        </select>
                        <input type="text" class="d-input-block">
                    </div>
                </div>
            </div>
          </div>
        </el-form>
        <h2 class="title">二手房上下架管理</h2>

        <!-- 上下架管理列表 -->
        <div class="d-content">
            <div class="house-list-top">
                <div class="h-result-sum d-inline">
                    共<span class="num">999</span>套房源
                    
                </div>
                <div class="button-box d-inline ml20">
                  <el-button size="small">批量上架</el-button>
                  <el-button size="small">批量下架</el-button>
                  <el-button size="small">批量删除</el-button>
                </div>
            </div>
            <div class="house-list-con">
              <div class="house-list-head">
                <div class="h-list-check"><el-checkbox v-model="checked"></el-checkbox></div>
                <div class="h-list-info" style="width: 540px;">房源信息</div>
                <div class="h-list-release">发布信息</div>
                <div class="h-list-putaway">上架信息</div>
                <div class="h-list-handle">操作</div>
              </div>
              <ul class="house-list-ul">
                  <li>
                     <div class="h-list-check"><el-checkbox v-model="checked"></el-checkbox></div>
                     <div class="h-list-img mr20"><a href=""><img src="" alt=""></a></div>
                     <div class="h-list-info">
                          <a href="" class="title d-elip">主标题主标题主标题主标题主标题主标题主标</a>
                          <div class="info mt5">
                            <span>流星花园三区</span>
                            <span>335m²</span>
                            <span>南北</span>
                            <span>豪装</span>
                          </div>
                          <div class="price mt5">
                            <span class="main-text">650万元</span>
                            <span>6500元/平米</span>
                          </div>
                          <div class="status mt5">
                            <span>编号：<a style="color:#33ba9b">111110909</a></span>
                            <span>房源状态：<a style="color:#33ba9b">待租售</a></span>
                          </div>
                     </div>

                     <div class="h-list-release">
                       <div>维护人：<span>付福福</span></div>
                       <div class="mt5">提交人：<span>付福福</span></div>
                       <div class="mt5">提交时间：<span>2017-06-22</span></div>
                     </div>
                     <div class="h-list-putaway">
                       <div>上架状态：<span class="d-status" round>待上架</span></div>
                       <div class="mt5">上架时间：<span>2014-54-45</span></div>
                       <div class="mt5"><span class="d-status d-bg-gray" d-home>首页推荐</span><span class="d-status d-bg-gray ml10" d-putaway>上架推荐</span></div>
                     </div>
                     <div class="h-list-handle">
                       <div><span class="d-status" d-view>预览查看</span></div>
                       <div class="mt5"><span class="d-status" d-edit>编辑</span><span class="d-status ml10" d-soldout>下架</span></div>
                       <div class="mt5"><span class="d-status" d-record>上/下架记录</span><span class="d-status ml10" d-del>删除</span></div>
                     </div>
                  </li>
                  <li>
                     <div class="h-list-check"><el-checkbox v-model="checked"></el-checkbox></div>
                     <div class="h-list-img mr20"><a href=""><img src="" alt=""></a></div>
                     <div class="h-list-info">
                          <a href="" class="title d-elip">主标题主标题主标题主标题主标题主标题主标</a>
                          <div class="info mt5">
                            <span>流星花园三区</span>
                            <span>335m²</span>
                            <span>南北</span>
                            <span>豪装</span>
                          </div>
                          <div class="price mt5">
                            <span class="main-text">650万元</span>
                            <span>6500元/平米</span>
                          </div>
                          <div class="status mt5">
                            <span>编号：<a style="color:#33ba9b">111110909</a></span>
                            <span>房源状态：<a style="color:#33ba9b">待租售</a></span>
                          </div>
                     </div>

                     <div class="h-list-release">
                       <div>维护人：<span>付福福</span></div>
                       <div class="mt5">提交人：<span>付福福</span></div>
                       <div class="mt5">提交时间：<span>2017-06-22</span></div>
                     </div>
                     <div class="h-list-putaway">
                       <div>上架状态：<span class="d-status" round>待上架</span></div>
                       <div class="mt5">上架时间：<span>2014-54-45</span></div>
                       <div class="mt5"><span class="d-status d-bg-gray" d-home>首页推荐</span><span class="d-status d-bg-gray ml10" d-putaway>上架推荐</span></div>
                     </div>
                     <div class="h-list-handle">
                       <div><span class="d-status" d-view>预览查看</span></div>
                       <div class="mt5"><span class="d-status" d-edit>编辑</span><span class="d-status ml10" d-soldout>下架</span></div>
                       <div class="mt5"><span class="d-status" d-record>上/下架记录</span><span class="d-status ml10" d-del>删除</span></div>
                     </div>
                  </li>
              </ul>

              <!-- 分页 -->
              <div class="d-page ar">
                <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :current-page.sync="currentPage1"
                  :page-size="100"
                  layout="total, prev, pager, next"
                  :total="1000">
                </el-pagination>
              </div>
            </div>
        </div>
    </div>
</div>



<script>

const cityOptions = ['上海', '北京', '广州', '深圳','上海', '北京', '广州', '深圳','上海', '北京', '广州', '深圳','上海', '北京', '广州', '深圳',];
  var Main = {
    data() {
      return {
        activeIndex: '1',
        checkAll: false,
        checkedCities: ['上海', '北京'],
        cities: cityOptions,
        isIndeterminate: true,
        form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: '',
          quyu:'',
        },
      };
    },
    methods: {
      handleCheckAllChange(val) {
        this.checkedCities = val ? cityOptions : [];
        this.isIndeterminate = false;
      },
      handleCheckedCitiesChange(value) {
        let checkedCount = value.length;
        this.checkAll = checkedCount === this.cities.length;
        this.isIndeterminate = checkedCount > 0 && checkedCount < this.cities.length;
      }
    }
  };
var Ctor = Vue.extend(Main)
new Ctor().$mount('#index')
</script>  
</body>
</html>